[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
boto3 = "*"
jinja2 = "*"
myst-parser = "*"
paramiko = "*"
playwright = "*"
pyperclip = "*"
pytest = "*"
sphinx-copybutton = "*"
sphinx-design = "*"
sphinx-last-updated-by-git = "*"
sphinx-prompt = "*"
sphinx-rtd-theme = "*"
sphinx-tippy = "*"
sphinx-togglebutton = "*"
sphinxcontrib-googleanalytics = "*"
sphinxcontrib-mermaid = "*"

[requires]
python_version = "3.11"
