[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
boto3 = "*"
jinja2 = "*"
# Pending a release > 2.0.0
myst-parser = {ref = "79a301e5741f6875c48376b4308c07e1bee60118", git = "git+https://github.com/executablebooks/MyST-Parser.git"}
paramiko = "*"
playwright = "*"
pyperclip = "*"
pytest = "*"
pytest-xdist = "*"
sphinx-copybutton = "*"
sphinx-design = "*"
sphinx-last-updated-by-git = "*"
sphinx-prompt = "*"
sphinx-rtd-theme = "*"
sphinx-tippy = "*"
sphinx-togglebutton = "*"
sphinxcontrib-googleanalytics = "*"
sphinxcontrib-mermaid = "*"

[requires]
python_version = "3.12"
